
.navbar{
	background-color: transparent;
}

.navbar.colorChange{
	background-color: rgb(74, 179, 248);
  /* background-color: rgb(166, 216, 250); */
}
.banner{
  position: absolute;
  top:0;
border-bottom: none;
background-position: center;
background-size: cover;
height: 80%;
width: 100%;
background-repeat: no-repeat;
z-index: 0;
background-color: #000;
opacity:0.8 ;
/* background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('./components/bg-gift.jpg'); */

  
}



  
 

